/.jshintrc
/.npmignore
/.bundle
/component.json
/index.js
/bin
/browser/
/node_modules/
/Rakefile
/Gemfile
/Gemfile.lock
/tests/
/promises-aplus-tests
/promises-tests
/promise-tests # for orphans left from earlier versions
/lib
